/*elements*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #dfeafe;
  position: relative;
  font-family: 'Sacramento', cursive;
}

h2 {
  position: relative;
  font-family: 'Sacramento', cursive;
}

h3 {
  position: relative;
  font-family: 'Sacramento', cursive;
}

p {
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

/*class*/
.top-container {
  background-color: #6E85B2;
  position: relative;
  height: 90vh;
}

.heading {
  font-size: 5rem;
  margin-top: 0;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para {
  color: #dfeafe;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.bgcolor {
  background-color: #25355e;
  border-radius: 15px 15px 15px 15px;
}

.middle-container {}

.skills {}

.bottom-container {}

.moto {
  width: 20%;
  position: absolute;
  left: 40%;
  bottom: 0;
}

.mountain {
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
}

.top-cloud {
  position: absolute;
  width: 300px;
  padding-top: 5%;
  left: 10%;
}

.bottom-cloud {
  position: absolute;
  width: 500px;
  padding-top: 200px;
  left: 60%;
}

.helmet-icon {
  width: 100px;
  margin-top: 100px;
}

.skill-icon {
  width: 100px;
  margin-top: 100px;
}

.bulb {
  width: 100px;
  margin-top: 100px;
}

.touch {
  margin-top: 100px;
  margin-bottom: 100px;
}
